# --- JAVA & MAVEN ---
target/
*.jar
*.war
*.zip
*.tar.gz
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- INTELLIJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/
# Ignora arquivos de prateleira e workspace do usuário
.idea/workspace.xml
.idea/shelf/
.idea/libraries/

# --- SISTEMA OPERACIONAL ---
# Arquivos do Windows
Thumbs.db
desktop.ini
# Arquivos do Mac
.DS_Store

# --- HELP & LOGS ---
HELP.md
*.log

# --- STS / ECLIPSE ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- VS CODE ---
.vscode/

# --- NETBEANS ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/